<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>定时任务发布</title>
</head>
<body>
<form action="/api/jobs/set_jobs/" method="post">
    {% csrf_token %}
    <div class="form-group" aria-expanded="false">
        <label for="exampleFormControlSelect1">频道选择</label>
        <select class="form-control" id="exampleFormControlSelect1" style="width: 30%" name="channel">
            <option id="Channel" value="Tiktok">Tiktok</option>
            <option id="Channel" value="YouTube">YouTube</option>
            <option id="Channel" value="Instgram">Instgram</option>
        </select>
    </div>
    <div class="form-group" aria-expanded="false">
        <label for="exampleFormControlSelect1">Account Select</label>
        <select class="form-control" id="exampleFormControlSelect1" style="width: 30%" name="account">
            {% for user in user_list %}
                <option id="Account" value="{{ user.user_id }}">{{ user.user_id }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="form-group" aria-expanded="false">
        <label for="exampleFormControlSelect1">Frequency Select</label>
        <select class="form-control" id="exampleFormControlSelect1" style="width: 30%" name="publish_freq">
            <option id="Account" value="Once">Once</option>
            <option id="Account" value="Everyday">Everyday</option>
        </select>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Input Publish Time</label>
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 30%" name="publish_time">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Input Text</label>
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 30%" name="text">
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Input File Amount</label>
        <input type="text" class="form-control" id="exampleInputEmail1" style="width: 30%" name="file_amount">
    </div>

    <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Submit</button>

</form>


<table class="table table-condensed">
{#  <caption>精简表格布局</caption>#}
  <thead>
    <tr>
      <th>频道</th>
      <th>账户</th>
      <th>发布频率</th>
      <th>发布时间</th>
      <th>文字</th>
      <th>视频数量</th>
      <th>任务状态</th>
    </tr>
  </thead>
  <tbody>
    {% for item in item_list %}
  <tr>
      <td>{{ item.channel }}</td>
      <td>{{ item.account }}</td>
      <td>{{ item.publish_freq }}</td>
      <td>{{ item.publish_time }}</td>
      <td style="overflow: hidden">{{ item.text }}</td>
      <td>{{ item.file_amount }}</td>
      <td>{{ item.status }}</td>

      <td><button type="button" class="btn btn-primary" onclick="location.href='/api/jobs/delete_job?job_id={{ item.id }}'">delete</button></td>
  </tr>
  {% endfor %}
  </tbody>
</table>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
